<ion-content [fullscreen]="true">
<div class="DivGenLogin">

<div class="DivContentMessage">
<span>Banking One</span> <br>
<div class="VSpace-5"></div>
Login to your account
</div>
<div class="VSpace-30"></div>
<div class="ConnInput">
  <ion-input  label="Email" labelPlacement="stacked" placeholder="Email"></ion-input>
</div>
<div class="VSpace-5"></div>
<div class="ConnInput">
  <ion-input  label="Password" type="password" labelPlacement="stacked" placeholder="Password"></ion-input>
</div>
<div class="VSpace-10"></div>
<button class="ConnButton">Sign In</button>
<div class="VSpace-10"></div>
<div class="ForgotPass">Forgot password?</div>
<div class="VSpace-22"></div>
<div class="DivCopy"> 2024 Splore One Inc</div>
<div class="VSpace-250">

</div>
</div>
</ion-content>
