
<ion-content [fullscreen]="true">
 <div class="BckgroundLanding">

<div class="DivIcon"><img src="../../assets/icon/icon.gif"/></div>
  <div class="VSpace-100"></div>
<div class="DivContentMessage">
<span>All your cards & accounts<br>
 in one plece</span><br>
<div class="VSpace-10"></div>
You can describe this feature here with a <br>
sentence of multiple lines

</div>

  <div class="VSpace-200"></div>
<div class="DivPoint">  </div>
<div class="VSpace-10"></div>
  <button role="button" class="NextButton" >Next</button>
  <div class="VSpace-50"></div>
 </div>
</ion-content>
